/*
    The 2020 Project
    ---------------------------------------------------------------------------------------------
*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

/*
    Background Colors
    ---------------------------------------------------------------------------------------------
*/

body {
    background-color: black;
}

header, footer {
    background-color: rgb(12, 35, 28);
}

nav {
    background-color: rgb(21, 35, 31);
}

main {
    background-color: rgb(33, 27, 25);
}

aside {
    background-color: rgb(6, 5, 4);
}

/*
    Foreground Colors
    ---------------------------------------------------------------------------------------------
*/

body,
a {
    color: white;
}

.red-text {
    color: rgb(255, 0, 0);
}

.lime-text {
    color: rgb(0, 255, 0);
}

.yellow-text {
    color: rgb(255, 255, 0);
}

.magenta-text {
    color: rgb(255, 0, 255);
}

.cyan-text {
    color: rgb(0, 255, 255);
}

.orange-text {
    color: rgb(255, 128, 0);
}

.fuchsia-text {
    color: rgb(255, 0, 128);
}

.sky-blue-text {
    color: rgb(0, 128, 255);
}

.lavender-text {
    color: rgb(128, 128, 255);
}

.peach-text {
    color: rgb(255, 128, 128);
}

.pink-text {
    color: rgb(255, 128, 255);
}

.chartreuse1-text {
    color: rgb(128, 255, 128);
}

.light-yellow-text {
    color: rgb(255, 255, 128);
}

.not-in-use {
    /*  green   */
    color: rgb(0, 128, 0);
    /*  teal    */
    color: rgb(0, 128, 128);
    /*  medium-gray */
    color: rgb(128, 128, 128);
    /*	blue	*/
    color: rgb(0, 0, 255);
    /*	navy	*/
    color: rgb(0, 0, 128);
    /*	maroon	*/
    color: rgb(128, 0, 0);
    /*	olive	*/
    color: rgb(128, 128, 0);
    /*	purple	*/
    color: rgb(128, 0, 128);
    /*  violet  */
    color: rgb(128, 0, 255);
    /*  chartreuse2 */
    color: rgb(0, 255, 128);
    /*  spring-green    */
    color: rgb(128, 255, 0);
    /*  light-cyan  */
    color: rgb(128, 255, 255);
}

/*
    Site Grid Layout
    https://alligator.io/css/css-grid-holy-grail-layout/
    ---------------------------------------------------------------------------------------------
*/

body {
    display: grid;
    grid-template-areas: "header header header" "nav content side" "footer footer footer";
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 1px;
    height: 98vh;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    /*margin-left: 0.5rem;*/
}

main {
    grid-area: content;
}

aside {
    grid-area: side;
    /*margin-right: 0.5rem;*/
}

footer {
    grid-area: footer;
}

/*
    Grid Layout Inside Header / Footer
    ---------------------------------------------------------------------------------------------
*/

header, footer {
    display: grid;
    grid-template-areas: "left middle right";
    grid-template-columns: 300px 1fr 300px;
}

/*
    Various
    ---------------------------------------------------------------------------------------------
*/

header, nav, aside, footer {
    padding: 3px;
}

main {
    padding: 3px 3px 3px 30px;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
}

table tr th {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

table tr td {
    border-bottom: 1px dashed white;
    border-right: 1px dashed white;
    padding: 3px 5px 0 3px;
}